<div class="job-list-wrapper" (scroll)="onScroll($event)">
  <ul class="list-group" (scroll)="onScroll($event)">

    <li *ngIf="jobs.length === 0" class="list-group-item text-center text-muted">
      Sem resultados
    </li>

    <li 
      *ngFor="let job of jobs" 
      class="list-group-item list-group-item-action mb-4"
      (click)="selectJob(job)"
      style="cursor: pointer;">
      
      <div class="title-row">
        <h3 class="card-title title">{{ job.title }}</h3>

        <div *ngIf="userService.isAdmin()" style="margin-top: 3px;">
          <span class="badge rounded-pill"
                [ngClass]="{
                  'status-aprovado': job.status === 'APROVADO',
                  'status-pendente': job.status === 'PENDENTE',
                  'status-rejeitado': job.status === 'REJEITADO',
                  'status-encerrado': job.status === 'ENCERRADO'
                }">
            {{ job.status }}
          </span>
        </div>
      </div>


      <div class="text-muted">
        {{ job.contractType }}
      </div>

      <div class="text-muted">
        {{ job.modality }}
      </div>

      <div class="job-date" style="margin-top: 15px;">
        <p>{{ job.city }}, {{ job.uf }} - {{ job.creationDate | date:'longDate' }}</p>
      </div>
    </li>
  </ul>
</div>

